<div class="bg-light">
    <div class="container py-5">
        <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
                <h1 class="display-4">Fashion Hub</h1>
                <p class="lead text-muted mb-0">If you haven’t shopped online at Fashion Hub, you’ve seriously been missing out. This site is a one-stop destination for
                all of
                your fashion needs at a reasonable price. Filter through our on-trend products from a variety of
                brands</p>
                {{!-- <p class="lead text-muted">Snippet by <a href="https://bootstrapious.com/snippets" class="text-muted">
                        <u>Bootstrapious</u></a>
                </p> --}}
            </div>
            <div class="col-lg-6 col-md-6 pt-3"><img src="https://images.pexels.com/photos/1078958/pexels-photo-1078958.jpeg?auto=compress&cs=tinysrgb&w=600"
                    alt="" class="img-fluid"></div>
        </div>
    </div>
</div>



<di

<link rel="stylesheet" href="/css/aboutus.css">
{{!-- <footer class="bg-light pb-5">
    <div class="container text-center">
        <p class="font-italic text-muted mb-0">&copy; Copyrights Fashion Hub.com All rights reserved.</p>
    </div>
</footer> --}}