<!--Section: Contact v.2-->
<div class="container">
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
        directly. Our team will come back to you within
        a matter of hours to help you.</p>

    <div class="row">

        <!--Grid column-->
        {{!-- <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="name" class="form-control">
                            <label for="name" class="">Your name</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control">
                            <label for="email" class="">Your email</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <input type="text" id="subject" name="subject" class="form-control">
                            <label for="subject" class="">Subject</label>
                        </div>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="message" name="message" rows="2"
                                class="form-control md-textarea"></textarea>
                            <label for="message">Your message</label>
                        </div>

                    </div>
                </div>
                <!--Grid row-->

            </form>

            <div class="text-center text-md-left">
                <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>
            </div>
            <div class="status"></div>
        </div> --}}
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center mx-auto">
            <ul class="list-unstyled mb-0">
                <li>
                   
                    <a href="https://goo.gl/maps/KHVbNaFmdLfLuND46">
                    {{!-- <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3914.472666635379!2d75.89019191377162!3d11.152596855189518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba6502f41ef4e8b%3A0xf4c653a7548cccd!2sKinfra%20Techno%20Industrial%20Park!5e0!3m2!1sen!2sin!4v1655529784604!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe> --}}
                        <i class='bx bx-current-location'></i>
                    </a>
                    
                    {{!-- <p>Kozhikode, CA 94126, Kerala</p> --}}
                   <h6> Registered Office Address:</h6>
                    <span>Fashion Hub Internet Private Limited,</span>
                    
                   <span> SDF Buildings,Kakkanchery</span>
                    
                   <span>Malappuram</span>
                    
                   <p>Kerala, India</p>
                    
                   
                </li>

                <li>
                    <div class="phone">
                        <a href="tel:9061516054"><i class='bx bxs-phone-call'></i></a>
                        
                        <p>+91 9061516054</p>
                    </div>

                    {{!-- <i class='bx bxs-phone-call'></i></i>
                    <p>9061516053</p> --}}
                </li>

                <li>
                    <div class="email">
                        <a href="mailto:fashionhu321@gmail.com"><i class='bx bx-envelope'></i></a>
                        
                        <p>fashionhu321@gmail.com</p>
                    </div>
                    {{!-- <i class='bx bx-envelope'></i></i>
                    <p>fashionhu321@gmail.com</p> --}}
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
</div>
<!--Section: Contact v.2-->