
<div class="container-fluid align-item-center mt-5">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
    <div class="card mx-auto" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title text-color text-center">Sign up</h5>

            <form action="/signup" method="post" name="form1" id="form1">
           
                <div class=" mb-3">
                    <label for="exampleInputEmail1" class="form-label">Name</label>
                    <input type="text" class="form-control" aria-describedby="emailHelp" name="name" id="name" >

                </div>
                <div class=" mb-3">
                    <label for="exampleInputEmail1" class="form-label">Email address</label>
                    <input type="email" class="form-control" aria-describedby="emailHelp" name="email" id="email" >

                </div>
                
                <div class=" mb-3">
                    <label for="exampleInputPassword1" class="form-label">Address</label>
                    <input type="text" class="form-control" name="address" id="address" >
                </div>
               
               
                
                <div class=" mb-3">
                    <label for="exampleInputPassword1" class="form-label">Phone number:</label>
                    <input type="text" class="form-control" name="number" id="number">
                </div>
                <div class=" mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <div class=" mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="confirmpassword" id="confirmpassword">
                </div>
                <div class=" d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-color text-white" type="submit">Signup</button>

                </div>


            </form>


        </div>
    </div>
    </div>
    </div>
</div>