<div class="container">
    <!-- Section: Design Block -->
    <section class="text-center mt-5">
        <!-- Background image -->
         <div class="p-5 bg-image" style="
        background-image: url('https://images.unsplash.com/photo-1631041556964-57f2686f1113?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGluayUyMGNsb3RoZXN8ZW58MHx8MHx8&w=1000');
        height: 300px;
        "></div>
        <!-- Background image -->

        <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.5);
        backdrop-filter: blur(30px);
        ">
            <div class="card-body py-5 px-md-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="fw-bold mb-5">Verify Otp</h2>
                        <form action="/verifyOtp" method="post" name="form">
                            <!-- 2 column grid layout with text inputs for the first and last names -->


                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="text" id="form3Example3" class="form-control" name="otp" />
                                <label class=" form-label" for="form3Example3">Enter otp</label>
                            </div>

                            <!-- Password input -->
                            {{!-- <div class="form-outline mb-4">
                                <input type="password" id="form3Example4" class="form-control" name="password" />
                                <label class="form-label" for="form3Example4">Password</label>
                            </div> --}}

                           

                            <!-- Submit button -->
                            <button type="submit" class="btn btn-color btn-block mb-4">
                                Submit
                            </button>

                            <!-- Register buttons -->
                            <div class="text-center">
                               
                                <button type=" button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-facebook-f"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-google"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-twitter"></i>
                                </button>

                                <button type="button" class="btn btn-link btn-floating mx-1">
                                    <i class="fab fa-github"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section: Design Block -->
</div>